name: Run Jupyter Notebook

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    # Run every Saturday at 7 PM MDT (1 AM UTC)
    - cron: '0 1 * * 0'
  workflow_dispatch:

jobs:
  run-notebook:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/upload-artifact@v4
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install jupyter nbconvert openpyxl tqdm
    
    - name: Run Jupyter Notebook
      run: |
        jupyter nbconvert --to notebook --execute 01-mail-list-v2.ipynb --output 01-mail-list-v2-executed.ipynb
    
    - name: Upload executed notebook
      uses: actions/upload-artifact@v3
      if: always()
      with:
        name: executed-notebook
        path: 01-mail-list-v2-executed.ipynb
